.allSearchedUsersContainier{
    width: 700px;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.oneSearchedFriendContainer{
    justify-content: center;
    align-items: center;
}