.container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 410px;
    height: 110px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    transition: box-shadow 0.15s ease-in-out;
}

.container:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply a shadow on hover */
  }

.container img{
    border: 15px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
}

.rightContainer{
    text-align: left;
    align-items: top;
    margin-left: 10px;
    width: 290px;
    height: 90px;
    padding: 5px;
}

.rightContainer p {
    margin-top: 0;
}

.fullname{
    font-weight: 600;
    margin-bottom: 5px;
}

.numberOfFriends{
    margin-top: 20px;
    margin-bottom: 2px;
    color: rgb(98, 98, 98);
}

.numberOfMutualFriends{
    margin-bottom: 2px;
    color: rgb(98, 98, 98);
}

.location{
    margin-bottom: 0;
    margin-left: 3px;
    color: rgb(98, 98, 98);
}
