.credentialsContainer{
    margin-left: 20px;
}

.nameAndSurname{
    font-family: sans-serif;
    font-style: bold;
    font-size: 35px;
    margin-top: 10px;
}

.numberOfFriends{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -20px;
}

.numberOfMutualFriends{
    font-family: sans-serif;
    font-size: 15px;
}