.createPostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.postsContainer{
    margin-left: 20px;
}

.pagePostContainer{
    margin-left: 20px;
    margin-top: 20px;
}