.createPostContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.postsContainer{
    margin-left: 20px;
}

.pagePostContainer{
    margin-left: 20px;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: top;
}

.friendRecommendations{
    display: flex;
    justify-content: center;
    align-items: top;
    width: 420px;
    height: min-content;
}