.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    width: 100%;
    margin-top: 60px;
}

.mainContainer{
    min-height: 89.5vh;
}