.avatar-container{
    display: flex;
    background-color: white;
    width: 50%;
    margin-left: 15px;
  }
  
  .avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover; /* Ovo će osigurati da se slika popuni na najbolji način */
    object-position: center center; /* Ovo će postaviti centar slike na centar kontejnera */
  }
  
  .nameAndSurname{
    margin-left: 15px;
    margin-top: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
  }

  .time{
    margin-left: 15px;
    margin-top: -10px;
    font-size: 12px;
    font-family: sans-serif;
    color: gray;
  }
  .buttonContainer {
    position: absolute;
    display: flex;
    align-items: top; 
    justify-content: right;
    margin-left: 460px;
    width: 100px;
  }
  
  .tag, .trash {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(225, 224, 224);
    border: none;
    margin-left: 5px; /* Add some spacing between the buttons */
  }
  
  .tag:hover, .trash:hover {
    background-color: rgb(205, 205, 205);
    cursor: pointer;
  }
  