.avatar-container{
    display: flex;
    background-color: white;
    width: 50%;
    margin-left: 15px;
  }
  
  .avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover; /* Ovo će osigurati da se slika popuni na najbolji način */
    object-position: center center; /* Ovo će postaviti centar slike na centar kontejnera */
  }
  
  .nameAndSurname{
    margin-left: 15px;
    margin-top: 3px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
  }

  .time{
    margin-left: 15px;
    margin-top: -10px;
    font-size: 12px;
    font-family: sans-serif;
    color: gray;
  }