.textContainer{
    margin-left: 0;
    margin-top: -15px;
  }
  
  .label {
    margin-left: 10px;
    color: rgb(67, 67, 67);
    word-wrap: break-word;
  }
  
  .label:hover {
    border-bottom: 1px solid;
    cursor: pointer;
  }
  